<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ft_sensor_test">

  <xacro:macro name="polish_macro" params="parent_link enable_ground_truth *origin">
    <link name="buff_l">
      <visual>
        <geometry>
          <cylinder radius="0.0225" length="0.01"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <cylinder radius="0.0225" length="0.01"/>
        </geometry>
      </collision>
    </link>

    <link name="sensor">
      <visual>
        <geometry>
          <cylinder radius="0.0125" length="0.025"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <cylinder radius="0.0125" length="0.025"/>
        </geometry>
      </collision>
    </link>

    <joint name="mount" type="fixed">
      <axis xyz="0 0 0" />
      <origin xyz="0 0 0.025" rpy="0 0 0"/>
      <parent link="${parent_link}"/>
      <child link="sensor"/>
    </joint>

    <joint name="polish" type="fixed">
      <axis xyz="0 0 1" />
      <limit lower="0" upper="0" effort="100" velocity="100"/>
      <origin xyz="0 0 0.02" rpy="0 0 0"/>
      <parent link="sensor"/>
      <child link="buff_l"/>
<!--      <sensor name="ft_sensor_polish" type="force_torque">
        <plugin name="test_ft_sensor" filename="libgazebo_ros_ft_sensor.so"/>
        <provideFeedback>true</provideFeedback>
        <gravity>true</gravity>
        <disableFixedJointLumping>true</disableFixedJointLumping>
        <always_on>true</always_on>
        <update_rate>1000</update_rate>
        <topic>/sawyer/ft_sensor/polish</topic>3
      </sensor>-->
    </joint>

    <gazebo reference="polish">
      <provideFeedback>true</provideFeedback>
      <gravity>true</gravity>
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>

<!--    <gazebo reference="polish">
      <provideFeedback>true</provideFeedback>
      <gravity>true</gravity>
      <disableFixedJointLumping>true</disableFixedJointLumping>-->
    <gazebo>
      <always_on>true</always_on>
      <plugin name="test_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
        <updateRate>1000</updateRate>
        <topicName>/sawyer/ft_sensor/polish</topicName>
        <jointName>polish</jointName>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.003</stddev>
        </noise>
      </plugin>
    </gazebo>

    <gazebo reference="sensor">
      <gravity>true</gravity>
    </gazebo>

    <gazebo reference="buff_l">
      <gravity>true</gravity>
    </gazebo>

  </xacro:macro>

</robot>
